
@{
    ViewBag.Title = "ForgetPassword";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Reset Your Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/resetpasswordstyle.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="elelment">
        <div class="element-main element-forgetpassword">
            <h2>Reset Your Password</h2>
            @using (Html.BeginForm("ForgetPassword", "ResetPassword", new { area = "Account" }, FormMethod.Post, new { @id = "myform", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "error" })
                @Html.Hidden("Id", new { })
                <div class="form-group" style="max-width:400px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="controls">
                                @Html.Editor("NewPassWord", new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Password", @id = "password", @name = "NewPassWord", @maxlength = "99", @type = "password" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" id="pswd_info">
                    <p>Password must:</p>
                    <ul>
                        <li id="letter" class="invalid">Have at least <strong>one letter</strong></li>
                        <li id="capital" class="invalid">Have at least <strong>one capital letter</strong></li>
                        <li id="number" class="invalid">Have at least <strong>one number</strong></li>
                        <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                    </ul>
                </div>
                <div class="form-group" id="confirmPwdDiv" style="max-width: 400px; display: block;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="controls">
                                @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Confirm Password", @id = "confirm_password", @type = "password", @name = "ConfirmPassword", @maxlength = "99" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div>
                        <input type="button" name="btnsubmit" id="btnsubmit" class="btn btn-default" value="Submit" />
                    </div>
                </div>

            }
            <div class="successmsg" text-aligh="center">
                <div class="box">
                    <div align="center" id="reset_success_msg" class="hideme">
                        <h3 align="center">Hi <span style="font-weight:600;"></span>,Your password was changed successfully.</h3>
                        <br>
                        <p>
                            <a href="#" class="btn btn-primary btn-lg">Go to My Meetings</a>
                        </p>
                    </div>
                    <div id="error_msg" class="alert alert-danger hideme"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $("input:text,form").attr("autocomplete", "off");
    })
    $(document).ready(function ()
    {
        $('.hideme').hide();
        $('#feedback').hide();
        $('.hideme').hide();
        $('#successmsg').hide();
    })

    $(document).ready(function () {
        $("#myform").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    //maxlength: 10,
                },
                confirm_password: {
                    equalTo: "#password",
                    minlength: 6,
                    //maxlength: 10
                }
            },
            messages: {
                password: 'Please enter the password.',
                confirm_password: 'Password mismatch.'
            }
        });
        $('#btnsubmit').click(function () {

            if ($("#myform").valid()) {

                $('#btnsubmit').attr("disabled", true);
                var form = new FormData($("#myform")[0]);
                //form.append("password", $("#password").val());
                //form.append("confirm_password", $("#confirm_password").val());
               
                 $.ajax({
                     url: '/ResetPassword/ForgetPassword',
                     method: "POST",
                     dataType: 'json',
                     data: form,
                     processData: false,
                     contentType: false,
                     success: function (result) {
                         if (result == "1") {
                             $('#successmsg').show();
                             $('#reset_success_msg').removeClass('hideme');
                             $('#reset_success_msg').show();
                             $("#myform").hide();
                         }
                         else if (result == "2") {

                         }
                     },
                     error: function (result) {
                         //$('#emailnotexist').show();
                         //$('#emailnotexist').text("This email id does not exists. please sign up.");
                     }
                 });
             }
             else {
                $("#myform").valid();
             }
         });
    });

    $(document).ready(function () {
        $('input[type=password][name=password]').keyup(function () {
            // set password variable
            var pswd = $(this).val();
            //validate the length
            if (pswd.length < 8) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }
            //validate letter
            if (pswd.match(/[A-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }

            //validate capital letter
            if (pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

            //validate number
            if (pswd.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }
        }).focus(function () {
            $('#pswd_info').show();
        }).blur(function () {
            $('#pswd_info').hide();
        });
    });
</script>
